MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=airflow_db
MYSQL_USER=airflow_user
MYSQL_PASSWORD=airflow_password
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_PASSWORD=admin_password
AIRFLOW_SECRET_KEY=your_secret_key
# Airflow database configuration
AIRFLOW__CORE__SQL_ALCHEMY_CONN=mysql+mysqlconnector://airflow_user:airflow_password@mysql_airflow:3306/airflow_db
AIRFLOW__CORE__SQL_ALCHEMY_SCHEMA=airflow_db
LATITUDE=55.75396
LONGITUDE=37.620393
YANDEX_WEATHER_API_KEY=your_yandex_api_key
OPENWEATHER_API_KEY=your_openweather_api_key
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id

DB_USER=airflow_user
DB_PASSWORD=airflow_password
DB_HOST=mysql
DB_PORT=3306
DB_NAME=airflow_db